.ele{font-family:'Playfair Display', serif;
         letter-spacing:3px; 
         font-weight:600; 
         color:gold; 
         font-size:18px;
        margin-left:8px;}


.banner{
    width:100%;
    height:700px;
    background-image: url(./images/banner3.jpg);
    background-size:100% 100%;
    background-repeat:no-repeat;
    display:flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
}
#para1{
    font-family: "Poppins", Sans-serif;
    font-weight: 600;
    color: #FFFFFF;
    margin-bottom: 16px;
    line-height: 1.143;
    text-transform: uppercase;
    letter-spacing: 4px; 

    
}
.banner h1{
    font-size: 55px;
    color: #FFFFFF;
    font-family: "Kanit", Sans-serif;
    font-size: 85px;
    font-weight: 700;
    line-height: 1.25;
   
}
#para2{
    width:85%;
    margin-bottom: 16px;
    font-family: Nunito Sans;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.6;
    color: #1c1c24;
    
}
.banner button{
    font-family: "Kanit", Sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: #ffffff;
    background-color:blue;
    width:200px;
    margin-top:30px;
    height:50px;
    border-style: none;
}
.banner button:hover{
    background-color: gold;
   color:black;
}
.mission{
    width:100%;
    height:500px;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top:80px;
    padding:50px;
    color:black;
    
}
.mission-left{
    width:43%;
    display: flex;
    flex-direction: column;
    justify-content: center;
     text-align: left;
}
.mission h1{
    font-size: 35px;
    font-family: "Poppins", Sans-serif;
    font-size: 50px;
    font-weight: 500;
    line-height: 1.143;
    text-transform: uppercase;
    letter-spacing: 4px;
   
}
.mission p{
   width:540px;
   margin-top:20px;
   font-weight: 400;
   font-size:1rem;
}
.mission button{
    font-family: "Kanit", Sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: #ffffff;
    background-color:blue;
    width:200px;
    margin-top:30px;
    height:40px;
    border-style: none;  
}
.mission button:hover{
    background-color: gold;
    color:black;
}
.mission-right{
    width:43%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mission-right img{
    width:450px;
    height:450px;
    border-radius:10px;
}
.collection{
    width:100%;
    height:600px;
    color:white;
    margin-top:80px;
    margin-bottom:80px;
    color:black;
}
.collection-up{
    width:100%;
    height:50%;
    text-align:center;
}
.collection-up h1{
   font-size: 35px;
   font-family: "Poppins", Sans-serif;
    font-size: 50px;
    font-weight: 500;
    line-height: 1.143;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-bottom: 30px;
}
.collection-up p{
    margin-bottom: 30px;
    font-family: Nunito Sans;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    width:75%;
    margin:auto;
    margin-bottom: 30px;
}
.yellow{
    width:100px;
    height:3px;
    background-color:gold;
   margin:auto;

}
.collection-down{
    margin-top:30px;
    width:100%;
    height:50%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:0px;
    margin-top:-50px;
    
}
.down-left{
   width:480px;
   height:310px;
    background-image:url(./images/weddingsaree.jpg);
     background-size:100% 100%;
    background-repeat:no-repeat;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left:250px;
    padding:20px;
    text-align: center;
    
}
.down-left h2{
    margin-bottom:20px;
}
.down-left p{
    color:black;
}
.down-left:hover{
   
}
.down-right{
     width:480px;
     height:310px;
     background-image:url(./images/festivesaree.jpg);
     background-size:100% 100%;
     background-repeat:no-repeat;
      border-radius: 10px;
      display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
      margin-left:20px;
      padding:20px;
      text-align: center;
      /* font-size: 12px; */
      
}
.down-right h2{
    margin-bottom:20px;
}
.down-right p{
   color:black;
}
.down-right:hover{
   
}
.question{
    width:100%;
    height:450px;
    background-color:#84796b;
    opacity: 0.8;
    color:black;
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.question h1{
    color:white;
    font-family: "Poppins", Sans-serif;
    font-size: 50px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-bottom: 30px;
     margin-top: -20px;
    /* line-height: 1.143; */
     /* margin:auto; */
}
.question p{
    /* margin:auto; */
    width:55%;
    text-align: center;
}
.question button{
   font-family: "Kanit", Sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: #ffffff;
    background-color:blue;
    width:200px;
    margin-top:30px;
    height:40px;
    border-style: none;

 
}
.line{
    width:100px;
    height:3px;
    background-color:gold;
    margin-bottom: 30px;
   /* margin:auto; */
}
.question button:hover{
    background-color: gold;
    color:black;
    
}

@media (min-width:500px) and (max-width:600px){
    .banner{
    width:100%;
    height:700px;
    background-image: url(./images/banner3.jpg);
    background-size:100% 100%;
    background-repeat:no-repeat;
    background-size: cover;
    display:flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    /* display:none; */
   }

    .banner h1{
       width:80%;
       font-size:3.6rem;
       text-align:center;
       margin-top:10px;
    }
    #para2{
        text-align:center;
        margin-top:30px;

    }
    .banner button{
        width:180px;
        height:40px;
    }
    .mission{
        margin-top:-30px;
    }
    .mission-right{
        display:none;
    }
    .mission-left{
        text-align:left;
        margin-left:-210px;
        padding:10px;
    }
    .mission-left h1{
        font-size:2.3rem;
    }
    .mission-left p{
        width:350px;
    }
    .collection{
        margin-top:-10px;
    }
    .collection-up h1{
       font-size:2rem; 
    }
    .collection-down{
        display:block;
        padding:30px;
    }
    .down-left {
        margin-left:0px;
        width:200%;
        height:95%;
        /* margin:auto; */
        
    }
    .down-right{
        margin-top:20px;
         margin-left:0px;
        width:200%;
        height:95%;
    }
    .slide{
      display:none  
    }
    #mission{
        margin-top:280px;
       margin-left:-120px;
       padding:10px;
    }
    #mission h1{
        font-size: 2rem;
        width:220%;
    }
    #mp{
        text-align:center;
        width:230%;
    }
    #mission button{
        margin-top:20px;
        /* margin:auto */
        /* display:flex;
        justify-content: center; */
    }
    .question{
        padding:20px;
    
    }
    .question h1{
        font-size:2rem;
        margin-top:20px;
    }
    .question p{
        width:90%;
    }
}


@media (min-width:601px) and  (max-width:768px){
  #para1{
    /* color:yellow; */
  }
  .banner{
 width:100%;
    height:700px;
    background-image: url(./images/banner3.jpg);
    background-size:100% 100%;
    background-repeat:no-repeat;
    background-size: cover;
    display:flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
  }
  .banner h1{
     width:80%;
       font-size:3.6rem;
       text-align:center;
       margin-top:30px;
       margin-bottom:40px;
  }
  #para2{
    margin-bottom:20px;
  }
  .mission-right{
    display:none;
  }
  .mission-left{
        text-align:left;
        margin-left:-250px;
        padding:10px;
  }
   .collection{
        margin-top:-10px;
    }
    .collection-up h1{
       font-size:2.3rem; 
    }
    .collection-down{
        display:block;
        padding:30px;
    }
     .down-left {
        margin-left:0px;
        width:200%;
        height:95%;
        /* margin:auto; */
        
    }
    .down-right{
        margin-top:20px;
         margin-left:0px;
        width:200%;
        height:95%;
    }
    .slide{
      display:none  
    }
       #mission{
        margin-top:150px;
       margin-left:-180px;
       padding:10px;
    }
    #mission h1{
        font-size: 2rem;
        width:220%;
    }
    #mp{
        text-align:center;
        width:230%;
    }
    #mission button{
        margin-top:20px;
        /* margin:auto */
        /* display:flex;
        justify-content: center; */
    }
    .question{
        padding:20px;
    
    }
    .question h1{
        font-size:2rem;
        margin-top:20px;
    }
    .question p{
        width:90%;
    }
    
}

@media (min-width:769px) and (max-width:992px){
    .banner{
        /* display:none; */
         width:100%;
    height:700px;
    background-image: url(./images/banner3.jpg);
    background-size:100% 100%;
    background-repeat:no-repeat;
    background-size: cover;
    display:flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    }
      .banner h1{
     width:80%;
       font-size:3.6rem;
       text-align:center;
       margin-top:40px;
       margin-bottom:50px;
  }
  #para2{
    margin-bottom:30px;
  }
  .mission-right{
    display:none;
  }
  .mission-left{
        text-align:left;
        margin-left:-450px;
        padding:10px;
  }
  .mission p{
    width:190%;
  }
   .collection{
        margin-top:-10px;
    }
    .collection-up h1{
       font-size:2.3rem; 
    }
    .collection-down{
        /* display:block; */
        /* padding:30px; */
    }
    .down-left{
        margin-left:30px;
        width:430px;
        
    }
    .down-right{
        width:430px;
    }
    .slide{
      display:none;  
    }
       #mission{
        margin-top:-100px;
       margin-left:-250px;
       padding:10px;
    }
    #mission h1{
        font-size: 2rem;
        width:220%;
    }
    #mp{
        text-align:center;
        width:230%;
    }
    #mission button{
        margin-top:20px;
        /* margin:auto */
        /* display:flex;
        justify-content: center; */
    }
    .question{
        padding:20px;
    
    }
    .question h1{
        font-size:2rem;
        margin-top:20px;
    }
    .question p{
        width:90%;
    }
}

@media (min-width:993px) and (max-width:1200px){
    .banner{
            width:100%;
    height:700px;
    background-image: url(./images/banner3.jpg);
    background-size:100% 100%;
    background-repeat:no-repeat;
    background-size: cover;
    display:flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
        /* display:none; */
    }
    .banner h1{
        margin-top:30px;
        margin-bottom: 40px;
    }
    .banner button{
        margin-top:30px;
    }
    .mission{
        margin-left:-80px;
    }
    .mission-right img{
        margin-left:320px;
    }
    .down-left{
        margin-left:80px;
    }
    .question{
        padding:20px;
    
    }
    .question h1{
        font-size:2rem;
        margin-top:20px;
    }
    .question p{
        width:80%;
    }
}
